.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__container {
  position: relative;
}

.card__delete-button {
  background-image: url("../images/delete-icon.svg");
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  top: 10px;
  left: 10px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 371px;
}

.card__delete-button:hover {
  background-image: url("../images/delete-icon-hover.svg");
}

.card__like-button {
  background-image: url(../images/heart.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 40%;
  margin-top: auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 100%;
}

.card__like-button_liked {
  background-image: url("../images/like-icon-liked.svg");
  opacity: 1;
}

.card__like-button_liked:hover {
  background-image: url("../images/like-icon-liked-hover.svg");
}

.card__content {
  margin-top: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__title {
  max-width: 350px;
  margin: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
    width: 288px;
  }
  .card__title {
    max-width: 250px;
    font-size: 16px;
  }
  .card__like-button {
    width: 20px;
    height: 18px;
  }
}
