.footer {
  padding: 60px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__rights {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1;
  opacity: 70%;
  color: #212121;
  font-weight: 400;
}
